<li>
    {{bucketItem}}

    <button type="button" class="btn btn-outline-success change-done" data-id="{{id}}" data-newitemdone="{{done}}">
        {{#if done}}Seize the day again!{{else}} Carpe diem!{{/if}}
    </button>


</li>