<h1>Post Pandemic Bucket List</h1>

<div class=container>
    <div class=row>

        <div class=col id="bucketCol">
            <h2>Bucketlist Items</h2>

            <p>
                {{#each bucketItem}}
                {{#if done}}
                {{> bucketlist-block done=false}}
                {{/if}}
                {{/each}}
            </p>
        </div>

        <div class=col id="bucketCol">
            <h2>Things I've crossed off my bucketlist</h2>
            <p>
                {{#each bucketItem}}
                {{#unless done}}
                {{> bucketlist-block done=true}}
                {{/unless}}
                {{/each}}
            </p>
        </div>

    </div>

    <div class=row>
        <h2 class="addBucketItem">Add a bucketlist item!</h2>
        <form class="create-form">

            <div class="form-group">
                <label for="bli" style=color:red;>Bucket List Item: </label>
                <input type="text" id="bli" name="bucketItem">
            </div>

            <div class="form-group">
                <input type="radio" name="done" value="1" checked> Not Done!<br>
                <input type="radio" name="done" value="0"> Done!
            </div>

            <button type="submit button" class="btn btn-success">Add item!</button>
        </form>
    </div>