h1{
    font-family: 'Rock Salt', cursive;
    margin-top: 30px;
    color: white;
}

h2{
  
    font-family: 'Rock Salt', cursive;
    margin-top: 30px;
    text-align: center;
}

body {
    text-align: center;
    background-image: url("../img/journal.jpg");
    background-size: cover;
  

}

li{
    margin:10px;
}

#bucketCol{
    border: 5px solid; 
    margin: 10px;
}

.addBucketItem{
    color: red;
}

